In [26]:
import pandas as pd


file1_path = r"C:\Users\ashis\Downloads\marketing_customer_analysis.csv"
df = pd.read_csv(file1_path)
print(df)

print("Shape of the DataFrame:", df.shape)

df.columns = df.columns.str.lower().str.replace(' ', '_')

print("Standardized column names:")
print(df.columns)

print("Shape of the DataFrame:", df.shape)


numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns

print("Numerical columns:")
print(numerical_columns)

categorical_columns = df.select_dtypes(include=['object', 'category']).columns

print("Categorical columns:")
print(categorical_columns)
# Assuming df is your DataFrame loaded from CSV or another source
file1_path = r"C:\Users\ashis\Downloads\marketing_customer_analysis.csv"
df = pd.read_csv(file1_path)

# Check and deal with NaN values.

nan_counts = df.isna().sum()

print("NaN counts per column:")
print(nan_counts)


df.fillna(df.mean(), inplace=True)

nan_counts_after_fill = df.isna().sum()
print("\nNaN counts per column after filling:")
print(nan_counts_after_fill)

categorical_columns = df.select_dtypes(include=['object']).columns

# Check for NaN values in each categorical column
nan_counts_categorical = df[categorical_columns].isna().sum()

print("NaN counts per categorical column:")
print(nan_counts_categorical)

# Example of handling NaN values: fill with mode
for col in categorical_columns:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Verify NaN values have been filled
nan_counts_after_fill = df[categorical_columns].isna().sum()
print("\nNaN counts per categorical column after filling:")
print(nan_counts_after_fill)

print(df.columns)

df['date'] = pd.to_datetime(df['Effective To Date'])
df['month'] = df['date'].dt.month

# Filter data for the first quarter (January, February, and optionally March)
filtered_df = df[df['month'].isin([1, 2, 3])]

# Display the filtered DataFrame
print("Data for the first quarter (January, February, and March if data exists):")
print(filtered_df.head())

       Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0         Basic   College           2/18/11         Employed      M  ...
1         Basic   College           1/18/11       Unemployed      F  ...
2         Basic  Bachelor           2/10/11         Employed      M  ...
3      Extended   College           1/11/11         Employed      M  ...
4       Premium  Bachelor           1/17/11    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor           1/19/11       Unemployed      F  ...
10906     Basic   College            1/6/11         Employed      F  ...
10907  Extended  Bachelor            2/6/11         Employed      F  ...
10908   Premium   College           2/13/11         Employed      F  ...
10909     Basic  Bachelor            1/8/11       Unemployed      M  ...

       Number of Open Complaints Number of Policies     Policy Type  \
0                            0.0                  9  Corporate Auto
1                            0.0                  1   Personal Auto
2                            0.0                  2   Personal Auto
3                            0.0                  2  Corporate Auto
4                            NaN                  7   Personal Auto
...                          ...                ...             ...
10905                        NaN                  7   Personal Auto
10906                        0.0                  6   Personal Auto
10907                        0.0                  2  Corporate Auto
10908                        4.0                  6   Personal Auto
10909                        0.0                  3   Personal Auto

             Policy  Renew Offer Type  Sales Channel  Total Claim Amount  \
0      Corporate L3            Offer3          Agent          292.800000
1       Personal L3            Offer4    Call Center          744.924331
2       Personal L3            Offer3    Call Center          480.000000
3      Corporate L3            Offer2         Branch          484.013411
4       Personal L2            Offer1         Branch          707.925645
...             ...               ...            ...                 ...
10905   Personal L1            Offer3            Web         1214.400000
10906   Personal L3            Offer2         Branch          273.018929
10907  Corporate L3            Offer1            Web          381.306996
10908   Personal L1            Offer1         Branch          618.288849
10909   Personal L1            Offer4            Web         1021.719397

       Vehicle Class Vehicle Size Vehicle Type
0      Four-Door Car      Medsize          NaN
1      Four-Door Car      Medsize          NaN
2                SUV      Medsize            A
3      Four-Door Car      Medsize            A
4      Four-Door Car      Medsize          NaN
...              ...          ...          ...
10905     Luxury Car      Medsize            A
10906  Four-Door Car      Medsize            A
10907     Luxury SUV      Medsize          NaN
10908            SUV      Medsize            A
10909            SUV      Medsize          NaN

[10910 rows x 26 columns]
Shape of the DataFrame: (10910, 26)
Standardized column names:
Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')
Shape of the DataFrame: (10910, 26)
Numerical columns:
Index(['unnamed:_0', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'total_claim_amount'],
      dtype='object')
Categorical columns:
Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')
NaN counts per column:
Unnamed: 0                          0
Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64

C:\Users\ashis\AppData\Local\Temp\ipykernel_23820\3135949438.py:39: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace=True)

NaN counts per column after filling:
Unnamed: 0                          0
Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim             0
Months Since Policy Inception       0
Number of Open Complaints           0
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64
NaN counts per categorical column:
Customer                0
State                 631
Response              631
Coverage                0
Education               0
Effective To Date       0
EmploymentStatus        0
Gender                  0
Location Code           0
Marital Status          0
Policy Type             0
Policy                  0
Renew Offer Type        0
Sales Channel           0
Vehicle Class         622
Vehicle Size          622
Vehicle Type         5482
dtype: int64

NaN counts per categorical column after filling:
Customer             0
State                0
Response             0
Coverage             0
Education            0
Effective To Date    0
EmploymentStatus     0
Gender               0
Location Code        0
Marital Status       0
Policy Type          0
Policy               0
Renew Offer Type     0
Sales Channel        0
Vehicle Class        0
Vehicle Size         0
Vehicle Type         0
dtype: int64
Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')
Data for the first quarter (January, February, and March if data exists):
   Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

      Policy Type        Policy Renew Offer Type  Sales Channel  \
0  Corporate Auto  Corporate L3           Offer3          Agent
1   Personal Auto   Personal L3           Offer4    Call Center
2   Personal Auto   Personal L3           Offer3    Call Center
3  Corporate Auto  Corporate L3           Offer2         Branch
4   Personal Auto   Personal L2           Offer1         Branch

   Total Claim Amount  Vehicle Class  Vehicle Size  Vehicle Type       date  \
0          292.800000  Four-Door Car       Medsize             A 2011-02-18
1          744.924331  Four-Door Car       Medsize             A 2011-01-18
2          480.000000            SUV       Medsize             A 2011-02-10
3          484.013411  Four-Door Car       Medsize             A 2011-01-11
4          707.925645  Four-Door Car       Medsize             A 2011-01-17

  month
0     2
1     1
2     2
3     1
4     1

[5 rows x 28 columns]

In [27]:
import pandas as pd

def preprocess_data(file_path):
    # Load the DataFrame
    df = pd.read_csv(file_path)
    
    # Standardize column names
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    
    # Handle NaN values for numerical columns by filling with the mean
    numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns
    df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].mean())
    
    # Handle NaN values for categorical columns by filling with the mode
    categorical_columns = df.select_dtypes(include=['object']).columns
    for col in categorical_columns:
        df[col].fillna(df[col].mode()[0], inplace=True)
    
    # Convert 'Effective To Date' to datetime format and extract the month
    df['date'] = pd.to_datetime(df['effective_to_date'])
    df['month'] = df['date'].dt.month
    
    # Filter data for the first quarter (January, February, and optionally March)
    df = df[df['month'].isin([1, 2, 3])]
    
    # Return the processed DataFrame
    return df

# Using the function
file_path = r"C:\Users\ashis\Downloads\marketing_customer_analysis.csv"
processed_df = preprocess_data(file_path)

# Display some information about the processed DataFrame
print("Shape of the processed DataFrame:", processed_df.shape)
print("\nData for the first quarter (January, February, and March if data exists):")
print(processed_df.head())

Shape of the processed DataFrame: (10910, 28)

Data for the first quarter (January, February, and March if data exists):
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

      policy_type        policy renew_offer_type  sales_channel  \
0  Corporate Auto  Corporate L3           Offer3          Agent
1   Personal Auto   Personal L3           Offer4    Call Center
2   Personal Auto   Personal L3           Offer3    Call Center
3  Corporate Auto  Corporate L3           Offer2         Branch
4   Personal Auto   Personal L2           Offer1         Branch

   total_claim_amount  vehicle_class  vehicle_size  vehicle_type       date  \
0          292.800000  Four-Door Car       Medsize             A 2011-02-18
1          744.924331  Four-Door Car       Medsize             A 2011-01-18
2          480.000000            SUV       Medsize             A 2011-02-10
3          484.013411  Four-Door Car       Medsize             A 2011-01-11
4          707.925645  Four-Door Car       Medsize             A 2011-01-17

  month
0     2
1     1
2     2
3     1
4     1

[5 rows x 28 columns]